In [1]:
from pandas_datareader import data as web

In [6]:
from pandas import Series,DataFrame
all_data={}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker,'1/1/2000','1/1/2018')
price = DataFrame({tic:data['Adj Close'] for tic,data in all_data.items()})
volume = DataFrame({tic:data['Volume'] for tic,data in all_data.items()})

### 计算价格的百分数变化

In [7]:
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2017-12-22  0.000000 -0.003300  0.006601  0.000117
2017-12-26 -0.025370 -0.003188  0.002164 -0.001286
2017-12-27  0.000176 -0.006974  0.001963  0.003630
2017-12-28  0.002814 -0.001172  0.005943  0.000117
2017-12-29 -0.010814 -0.001660 -0.004025 -0.002100

### Series的corr方法用于计算两个Series中重叠的,非NA的,按索引对齐的值的相关系数.与此类似,cov用于计算协方差

In [8]:
returns.MSFT.corr(returns.IBM)

0.48767965930987783

### DataFrame的corr和cov方法将以DF的形式返回完整的相关系数或协方差矩阵

In [9]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.451412  0.399816  0.416473
GOOG  0.451412  1.000000  0.383834  0.456729
IBM   0.399816  0.383834  1.000000  0.487680
MSFT  0.416473  0.456729  0.487680  1.000000

In [10]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000685  0.000182  0.000171  0.000211
GOOG  0.000182  0.000370  0.000098  0.000143
IBM   0.000171  0.000098  0.000267  0.000154
MSFT  0.000211  0.000143  0.000154  0.000374

### 利用DataFrame的corrwith方法,可以计算其列或行跟另一个Series或DataFrame之间的相关系数.传入一个Series将会 返回一个相关系数值Series(针对各列进行计算)

In [11]:
returns.corrwith(returns.IBM)

AAPL    0.399816
GOOG    0.383834
IBM     1.000000
MSFT    0.487680
dtype: float64

### 传入一个DataFrame则会计算按列名配对的相关系数,这里,计算百分比变化与成交量的相关系数

### 传入axis=1即可按行进行计算,无论如何,在计算相关系数之前,所有的数据项都会按标签对齐

In [12]:
returns.corrwith(volume)

AAPL   -0.053659
GOOG    0.049122
IBM    -0.040180
MSFT   -0.037489
dtype: float64