In [2]:
from pandas_datareader import data as web
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

### pandas有一个Panel数据结构,可以将其看作一个三维版的DF,pandas的大部分开发工作都集中在表格型数据的操作上,
### 因为这些数据更常见,而且层次化索引也是的多数情况下没有必要使用真正的N维数组
### 使用一个由DF对象组成的字典或一个三位ndarray来创建panel对象

In [3]:
all_data={}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker,'1/1/2000','1/1/2018')
all_data

{'AAPL':                   Open        High         Low       Close   Adj Close  \
 Date
 1999-12-31    3.604911    3.674107    3.553571    3.671875    3.291592
 2000-01-03    3.745536    4.017857    3.631696    3.997768    3.583733
 2000-01-04    3.866071    3.950893    3.613839    3.660714    3.281587
 2000-01-05    3.705357    3.948661    3.678571    3.714286    3.329610
 2000-01-06    3.790179    3.821429    3.392857    3.392857    3.041471
 2000-01-07    3.446429    3.607143    3.410714    3.553571    3.185540
 2000-01-10    3.642857    3.651786    3.383929    3.491071    3.129513
 2000-01-11    3.426339    3.549107    3.232143    3.312500    2.969436
 2000-01-12    3.392857    3.410714    3.089286    3.113839    2.791350
 2000-01-13    3.374439    3.526786    3.303571    3.455357    3.097498
 2000-01-14    3.571429    3.651786    3.549107    3.587054    3.215554
 2000-01-18    3.607143    3.785714    3.587054    3.712054    3.327609
 2000-01-19    3.772321    3.883929    3.691964    3.805804    3.411650
 2000-01-20    4.125000    4.339286    4.053571    4.053571    3.633756
 2000-01-21    4.080357    4.080357    3.935268    3.975446    3.563723
 2000-01-24    3.872768    4.026786    3.754464    3.794643    3.401645
 2000-01-25    3.750000    4.040179    3.656250    4.008929    3.593738
 2000-01-26    3.928571    4.078125    3.919643    3.935268    3.527706
 2000-01-27    3.886161    4.035714    3.821429    3.928571    3.521703
 2000-01-28    3.863839    3.959821    3.593750    3.629464    3.253573
 2000-01-31    3.607143    3.709821    3.375000    3.705357    3.321606
 2000-02-01    3.714286    3.750000    3.571429    3.580357    3.209552
 2000-02-02    3.598214    3.647321    3.464286    3.529018    3.163529
 2000-02-03    3.582589    3.723214    3.580357    3.689732    3.307599
 2000-02-04    3.712054    3.928571    3.700893    3.857143    3.457672
 2000-02-07    3.857143    4.080357    3.783482    4.073661    3.651766
 2000-02-08    4.071429    4.147321    3.973214    4.102679    3.677779
 2000-02-09    4.075893    4.183036    4.015625    4.022321    3.605743
 2000-02-10    4.031250    4.066964    3.928571    4.053571    3.633756
 2000-02-11    4.058036    4.075893    3.866071    3.883929    3.481683
 ...                ...         ...         ...         ...         ...
 2017-11-16  171.179993  171.869995  170.300003  171.100006  171.100006
 2017-11-17  171.039993  171.389999  169.639999  170.149994  170.149994
 2017-11-20  170.289993  170.559998  169.559998  169.979996  169.979996
 2017-11-21  170.779999  173.699997  170.779999  173.139999  173.139999
 2017-11-22  173.360001  175.000000  173.050003  174.960007  174.960007
 2017-11-24  175.100006  175.500000  174.649994  174.970001  174.970001
 2017-11-27  175.050003  175.080002  173.339996  174.089996  174.089996
 2017-11-28  174.300003  174.869995  171.860001  173.070007  173.070007
 2017-11-29  172.630005  172.919998  167.160004  169.479996  169.479996
 2017-11-30  170.429993  172.139999  168.440002  171.850006  171.850006
 2017-12-01  169.949997  171.669998  168.500000  171.050003  171.050003
 2017-12-04  172.479996  172.619995  169.630005  169.800003  169.800003
 2017-12-05  169.059998  171.520004  168.399994  169.639999  169.639999
 2017-12-06  167.500000  170.199997  166.460007  169.009995  169.009995
 2017-12-07  169.029999  170.440002  168.910004  169.320007  169.320007
 2017-12-08  170.490005  171.000000  168.820007  169.369995  169.369995
 2017-12-11  169.199997  172.889999  168.789993  172.669998  172.669998
 2017-12-12  172.149994  172.389999  171.460007  171.699997  171.699997
 2017-12-13  172.500000  173.539993  172.000000  172.270004  172.270004
 2017-12-14  172.399994  173.130005  171.649994  172.220001  172.220001
 2017-12-15  173.630005  174.169998  172.460007  173.970001  173.970001
 2017-12-18  174.880005  177.199997  174.860001  176.419998  176.419998
 2017-12-19  175.029999  175.389999  174.089996  174.539993  174.539993
 2017-12-20  174.869995  175.419998  173.250000  174.350006  174.350006
 2017-12-21  174.169998  176.020004  174.100006  175.009995  175.009995
 2017-12-22  174.679993  175.419998  174.500000  175.009995  175.009995
 2017-12-26  170.800003  171.470001  169.679993  170.570007  170.570007
 2017-12-27  170.100006  170.779999  169.710007  170.600006  170.600006
 2017-12-28  171.000000  171.850006  170.479996  171.080002  171.080002
 2017-12-29  170.520004  170.589996  169.220001  169.229996  169.229996

                Volume
 Date
 1999-12-31   40952800
 2000-01-03  133949200
 2000-01-04  128094400
 2000-01-05  194580400
 2000-01-06  191993200
 2000-01-07  115183600
 2000-01-10  126266000
 2000-01-11  110387200
 2000-01-12  244017200
 2000-01-13  258171200
 2000-01-14   97594000
 2000-01-18  114794400
 2000-01-19  149410800
 2000-01-20  457783200
 2000-01-21  123981200
 2000-01-24  110219200
 2000-01-25  124286400
 2000-01-26   91789600
 2000-01-27   85036000
 2000-01-28  105837200
 2000-01-31  175420000
 2000-02-01   79508800
 2000-02-02  116048800
 2000-02-03  118798400
 2000-02-04  106330000
 2000-02-07  110266800
 2000-02-08  102160800
 2000-02-09   74841200
 2000-02-10   75745600
 2000-02-11   53062800
 ...               ...
 2017-11-16   23637500
 2017-11-17   21899500
 2017-11-20   16262400
 2017-11-21   25131300
 2017-11-22   25588900
 2017-11-24   14026700
 2017-11-27   20716800
 2017-11-28   26428800
 2017-11-29   41666400
 2017-11-30   41527200
 2017-12-01   39759300
 2017-12-04   32542400
 2017-12-05   27350200
 2017-12-06   28560000
 2017-12-07   25673300
 2017-12-08   23355200
 2017-12-11   35273800
 2017-12-12   19409200
 2017-12-13   23818400
 2017-12-14   20476500
 2017-12-15   40169300
 2017-12-18   29421100
 2017-12-19   27436400
 2017-12-20   23475600
 2017-12-21   20949900
 2017-12-22   16349400
 2017-12-26   33185500
 2017-12-27   21498200
 2017-12-28   16480200
 2017-12-29   25999900

 [4529 rows x 6 columns],
 'GOOG':                    Open         High          Low        Close    Adj Close  \
 Date
 2004-08-19    49.676899    51.693783    47.669952    49.845802    49.845802
 2004-08-20    50.178635    54.187561    49.925285    53.805050    53.805050
 2004-08-23    55.017166    56.373344    54.172661    54.346527    54.346527
 2004-08-24    55.260582    55.439419    51.450363    52.096165    52.096165
 2004-08-25    52.140873    53.651051    51.604362    52.657513    52.657513
 2004-08-26    52.135906    53.626213    51.991844    53.606342    53.606342
 2004-08-27    53.700729    53.959049    52.503513    52.732029    52.732029
 2004-08-30    52.299839    52.404160    50.675404    50.675404    50.675404
 2004-08-31    50.819469    51.519913    50.749920    50.854240    50.854240
 2004-09-01    51.018177    51.152302    49.512966    49.801090    49.801090
 2004-09-02    49.274517    50.854240    49.150326    50.427021    50.427021
 2004-09-03    50.148830    50.541279    49.339096    49.681866    49.681866
 2004-09-07    50.178635    50.670437    49.483158    50.461796    50.461796
 2004-09-08    50.044510    51.182110    49.925285    50.819469    50.819469
 2004-09-09    50.933723    51.023144    50.173668    50.824436    50.824436
 2004-09-10    50.471729    52.935703    50.322701    52.324677    52.324677
 2004-09-13    52.970478    53.854729    52.886028    53.402668    53.402668
 2004-09-14    53.377831    55.638126    53.049961    55.384777    55.384777
 2004-09-15    54.922779    56.745922    54.743942    55.638126    55.638126
 2004-09-16    55.807030    57.525848    55.464260    56.616764    56.616764
 2004-09-17    56.840309    58.365391    56.408119    58.365391    58.365391
 2004-09-20    58.097134    60.407108    58.007717    59.294346    59.294346
 2004-09-21    59.517895    59.820923    58.375324    58.539257    58.539257
 2004-09-22    58.320679    59.448345    58.027588    58.807514    58.807514
 2004-09-23    59.036026    60.918781    58.131908    60.019630    60.019630
 2004-09-24    60.079243    61.649033    59.493053    59.527828    59.527828
 2004-09-27    59.393700    60.049435    58.519386    58.747902    58.747902
 2004-09-28    60.258080    63.288372    59.716602    63.020115    63.020115
 2004-09-29    62.940632    67.073753    62.707150    65.116478    65.116478
 2004-09-30    64.530296    65.722542    64.083199    64.381264    64.381264
 ...                 ...          ...          ...          ...          ...
 2017-11-16  1022.520020  1035.920044  1022.520020  1032.500000  1032.500000
 2017-11-17  1034.010010  1034.420044  1017.750000  1019.090027  1019.090027
 2017-11-20  1020.260010  1022.609985  1017.500000  1018.380005  1018.380005
 2017-11-21  1023.309998  1035.109985  1022.655029  1034.489990  1034.489990
 2017-11-22  1035.000000  1039.706055  1031.430054  1035.959961  1035.959961
 2017-11-24  1035.869995  1043.177979  1035.000000  1040.609985  1040.609985
 2017-11-27  1040.000000  1055.459961  1038.439941  1054.209961  1054.209961
 2017-11-28  1055.089966  1062.375000  1040.000000  1047.410034  1047.410034
 2017-11-29  1042.680054  1044.079956  1015.650024  1021.659973  1021.659973
 2017-11-30  1022.369995  1028.489990  1015.000000  1021.409973  1021.409973
 2017-12-01  1015.799988  1022.489990  1002.020020  1010.169983  1010.169983
 2017-12-04  1012.659973  1016.099976   995.570007   998.679993   998.679993
 2017-12-05   995.940002  1020.609985   988.280029  1005.150024  1005.150024
 2017-12-06  1001.500000  1024.969971  1001.140015  1018.380005  1018.380005
 2017-12-07  1020.429993  1034.239990  1018.070984  1030.930054  1030.930054
 2017-12-08  1037.489990  1042.050049  1032.521973  1037.050049  1037.050049
 2017-12-11  1035.500000  1043.800049  1032.050049  1041.099976  1041.099976
 2017-12-12  1039.630005  1050.310059  1033.689941  1040.479980  1040.479980
 2017-12-13  1046.119995  1046.665039  1038.380005  1040.609985  1040.609985
 2017-12-14  1045.000000  1058.500000  1043.109985  1049.150024  1049.150024
 2017-12-15  1054.609985  1067.619995  1049.500000  1064.189941  1064.189941
 2017-12-18  1066.079956  1078.489990  1062.000000  1077.140015  1077.140015
 2017-12-19  1075.199951  1076.839966  1063.550049  1070.680054  1070.680054
 2017-12-20  1071.780029  1073.380005  1061.520020  1064.949951  1064.949951
 2017-12-21  1064.949951  1069.329956  1061.793945  1063.630005  1063.630005
 2017-12-22  1061.109985  1064.199951  1059.439941  1060.119995  1060.119995
 2017-12-26  1058.069946  1060.119995  1050.199951  1056.739990  1056.739990
 2017-12-27  1057.390015  1058.369995  1048.050049  1049.369995  1049.369995
 2017-12-28  1051.599976  1054.750000  1044.770020  1048.140015  1048.140015
 2017-12-29  1046.719971  1049.699951  1044.900024  1046.400024  1046.400024

               Volume
 Date
 2004-08-19  44994500
 2004-08-20  23005800
 2004-08-23  18393200
 2004-08-24  15361800
 2004-08-25   9257400
 2004-08-26   7148200
 2004-08-27   6258300
 2004-08-30   5235700
 2004-08-31   4954800
 2004-09-01   9206800
 2004-09-02  15232100
 2004-09-03   5191000
 2004-09-07   5891300
 2004-09-08   5023000
 2004-09-09   4092100
 2004-09-10   8764200
 2004-09-13   7902900
 2004-09-14  10910200
 2004-09-15  10793500
 2004-09-16   9335800
 2004-09-17   9543500
 2004-09-20  10708500
 2004-09-21   7282900
 2004-09-22   7638000
 2004-09-23   8599600
 2004-09-24   9191900
 2004-09-27   7119100
 2004-09-28  17056100
 2004-09-29  30745600
 2004-09-30  13861300
 ...              ...
 2017-11-16   1129700
 2017-11-17   1397100
 2017-11-20    953500
 2017-11-21   1097000
 2017-11-22    746300
 2017-11-24    537000
 2017-11-27   1307900
 2017-11-28   1424400
 2017-11-29   2459400
 2017-11-30   1724000
 2017-12-01   1909600
 2017-12-04   1906400
 2017-12-05   2067300
 2017-12-06   1272000
 2017-12-07   1458200
 2017-12-08   1290800
 2017-12-11   1192800
 2017-12-12   1279500
 2017-12-13   1282700
 2017-12-14   1558700
 2017-12-15   3275900
 2017-12-18   1554600
 2017-12-19   1338700
 2017-12-20   1268600
 2017-12-21    995700
 2017-12-22    755100
 2017-12-26    760600
 2017-12-27   1271900
 2017-12-28    837100
 2017-12-29    887500

 [3366 rows x 6 columns],
 'IBM':                   Open        High         Low       Close   Adj Close  \
 Date
 1999-12-31  109.187500  109.500000  106.625000  107.875000   79.187996
 2000-01-03  112.437500  116.000000  111.875000  116.000000   85.152336
 2000-01-04  114.000000  114.500000  110.875000  112.062500   82.261917
 2000-01-05  112.937500  119.750000  112.125000  116.000000   85.152336
 2000-01-06  118.000000  118.937500  113.500000  114.000000   83.684181
 2000-01-07  117.250000  117.937500  110.625000  113.500000   83.317116
 2000-01-10  117.250000  119.375000  115.375000  118.000000   86.620468
 2000-01-11  117.875000  121.125000  116.625000  119.000000   87.354546
 2000-01-12  119.625000  122.000000  118.250000  119.500000   87.721558
 2000-01-13  119.937500  121.000000  115.750000  118.250000   86.803993
 2000-01-14  120.937500  123.312500  117.500000  119.625000   87.813332
 2000-01-18  119.687500  119.750000  115.000000  115.750000   84.968796
 2000-01-19  115.562500  122.000000  112.687500  119.500000   87.721558
 2000-01-20  123.000000  124.750000  119.000000  119.000000   87.354546
 2000-01-21  121.875000  123.000000  119.937500  121.500000   89.189728
 2000-01-24  121.875000  122.875000  116.562500  121.500000   89.189728
 2000-01-25  116.750000  119.500000  116.000000  119.125000   87.446281
 2000-01-26  119.062500  119.937500  116.000000  116.750000   85.702881
 2000-01-27  118.000000  118.437500  111.625000  113.500000   83.317116
 2000-01-28  112.750000  114.187500  110.062500  111.562500   81.894882
 2000-01-31  111.375000  112.812500  109.625000  112.250000   82.399544
 2000-02-01  112.375000  113.437500  109.125000  110.000000   80.747894
 2000-02-02  112.000000  115.812500  110.375000  113.500000   83.317116
 2000-02-03  115.000000  117.500000  114.062500  117.125000   85.978111
 2000-02-04  118.187500  118.437500  114.812500  115.625000   84.877052
 2000-02-07  116.000000  116.875000  113.125000  114.125000   83.775932
 2000-02-08  116.937500  119.000000  116.187500  118.812500   87.308701
 2000-02-09  119.000000  119.750000  117.000000  117.375000   86.252357
 2000-02-10  117.687500  119.125000  116.875000  119.125000   87.538330
 2000-02-11  119.062500  119.437500  114.562500  115.375000   84.782654
 ...                ...         ...         ...         ...         ...
 2017-11-16  147.729996  149.649994  147.500000  149.119995  149.119995
 2017-11-17  149.339996  150.149994  148.830002  148.970001  148.970001
 2017-11-20  150.639999  151.949997  149.899994  150.509995  150.509995
 2017-11-21  151.300003  152.449997  151.199997  151.949997  151.949997
 2017-11-22  152.000000  152.389999  151.330002  151.770004  151.770004
 2017-11-24  151.949997  152.199997  151.330002  151.839996  151.839996
 2017-11-27  152.059998  152.490005  151.619995  151.979996  151.979996
 2017-11-28  152.350006  152.929993  151.699997  152.470001  152.470001
 2017-11-29  152.809998  153.610001  152.169998  153.550003  153.550003
 2017-11-30  153.649994  154.410004  153.080002  153.970001  153.970001
 2017-12-01  154.399994  155.020004  152.910004  154.759995  154.759995
 2017-12-04  155.960007  156.800003  155.070007  156.460007  156.460007
 2017-12-05  156.449997  156.740005  154.679993  155.350006  155.350006
 2017-12-06  154.100006  156.220001  154.089996  154.100006  154.100006
 2017-12-07  153.589996  154.449997  153.259995  153.570007  153.570007
 2017-12-08  154.979996  155.029999  153.550003  154.809998  154.809998
 2017-12-11  155.460007  155.889999  154.570007  155.410004  155.410004
 2017-12-12  157.300003  157.850006  155.160004  156.740005  156.740005
 2017-12-13  156.600006  156.729996  153.889999  153.910004  153.910004
 2017-12-14  154.600006  155.110001  153.699997  154.000000  154.000000
 2017-12-15  153.610001  153.800003  152.029999  152.500000  152.500000
 2017-12-18  153.589996  154.179993  153.210007  153.330002  153.330002
 2017-12-19  154.050003  154.169998  153.089996  153.229996  153.229996
 2017-12-20  153.649994  153.889999  152.779999  152.949997  152.949997
 2017-12-21  153.169998  153.460007  151.490005  151.500000  151.500000
 2017-12-22  151.820007  153.000000  151.500000  152.500000  152.500000
 2017-12-26  152.509995  153.860001  152.500000  152.830002  152.830002
 2017-12-27  152.949997  153.179993  152.610001  153.130005  153.130005
 2017-12-28  153.199997  154.119995  153.199997  154.039993  154.039993
 2017-12-29  154.169998  154.720001  153.419998  153.419998  153.419998

               Volume
 Date
 1999-12-31   2870300
 2000-01-03  10347700
 2000-01-04   8227800
 2000-01-05  12733200
 2000-01-06   7971900
 2000-01-07  11856700
 2000-01-10   8540500
 2000-01-11   7873300
 2000-01-12   6803800
 2000-01-13   8489700
 2000-01-14  10956600
 2000-01-18   7643900
 2000-01-19   8634500
 2000-01-20  17783400
 2000-01-21   7868700
 2000-01-24   6499200
 2000-01-25   6936900
 2000-01-26   4895100
 2000-01-27   8324600
 2000-01-28   6669400
 2000-01-31   6202700
 2000-02-01   7304700
 2000-02-02   7707700
 2000-02-03   6213800
 2000-02-04   5405300
 2000-02-07   5779500
 2000-02-08   5464300
 2000-02-09   5374700
 2000-02-10   4446600
 2000-02-11   5749400
 ...              ...
 2017-11-16   5446500
 2017-11-17   4916500
 2017-11-20   5676500
 2017-11-21   3756200
 2017-11-22   3213600
 2017-11-24   1193000
 2017-11-27   3374000
 2017-11-28   3973700
 2017-11-29   5098700
 2017-11-30   6500800
 2017-12-01   5567900
 2017-12-04   4664300
 2017-12-05   5068000
 2017-12-06   3410700
 2017-12-07   3771100
 2017-12-08   3520300
 2017-12-11   4102700
 2017-12-12   6321800
 2017-12-13   5661600
 2017-12-14   4637400
 2017-12-15  11279900
 2017-12-18   5092800
 2017-12-19   4116400
 2017-12-20   3785700
 2017-12-21   4153900
 2017-12-22   2990600
 2017-12-26   2479000
 2017-12-27   2149300
 2017-12-28   2687600
 2017-12-29   3327100

 [4529 rows x 6 columns],
 'MSFT':                  Open       High        Low      Close  Adj Close     Volume
 Date
 1999-12-31  58.750000  58.875000  58.125000  58.375000  38.771053   12517600
 2000-01-03  58.687500  59.312500  56.000000  58.281250  38.708794   53228400
 2000-01-04  56.781250  58.562500  56.125000  56.312500  37.401215   54119000
 2000-01-05  55.562500  58.187500  54.687500  56.906250  37.795563   64059600
 2000-01-06  56.093750  56.937500  54.187500  55.000000  36.529484   54976600
 2000-01-07  54.312500  56.125000  53.656250  55.718750  37.006855   62013600
 2000-01-10  56.718750  56.843750  55.687500  56.125000  37.276661   44963600
 2000-01-11  55.750000  57.125000  54.343750  54.687500  36.321934   46743600
 2000-01-12  54.250000  54.437500  52.218750  52.906250  35.138874   66532400
 2000-01-13  52.187500  54.312500  50.750000  53.906250  35.803043   83144000
 2000-01-14  53.593750  56.968750  52.875000  56.125000  37.276661   73416400
 2000-01-18  55.906250  58.250000  55.875000  57.656250  38.293682   81483600
 2000-01-19  55.250000  55.750000  53.000000  53.500000  35.533215   97568200
 2000-01-20  53.531250  54.843750  52.937500  53.000000  35.201126   56349800
 2000-01-21  53.500000  53.625000  51.625000  51.875000  34.453938   68416200
 2000-01-24  51.898399  52.843750  50.406250  50.625000  33.623737   63597600
 2000-01-25  50.500000  51.937500  49.781250  51.406250  34.142609   59823200
 2000-01-26  51.218750  51.750000  49.562500  49.687500  33.001049   49365000
 2000-01-27  49.945301  50.593750  48.625000  49.375000  32.793507   63654800
 2000-01-28  49.062500  50.125000  48.625000  49.125000  32.627457   58225400
 2000-01-31  48.812500  49.093750  47.437500  48.937500  32.502930   73194200
 2000-02-01  49.250000  51.625000  48.843750  51.468750  34.184120   70196600
 2000-02-02  51.218750  51.968750  50.250000  50.406250  33.478443   49915600
 2000-02-03  51.031250  52.093750  50.062500  51.812500  34.412422   49186000

In [4]:
pdata = pd.Panel(all_data)

In [5]:
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 4529 (major_axis) x 6 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 1999-12-31 00:00:00 to 2017-12-29 00:00:00
Minor_axis axis: Open to Volume

In [6]:
pdata = pdata.swapaxes('items','minor')
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 4529 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 1999-12-31 00:00:00 to 2017-12-29 00:00:00
Minor_axis axis: AAPL to MSFT

In [8]:
pdata['Adj Close']

                  AAPL         GOOG         IBM       MSFT
Date
1999-12-31    3.291592          NaN   79.187996  38.771053
2000-01-03    3.583733          NaN   85.152336  38.708794
2000-01-04    3.281587          NaN   82.261917  37.401215
2000-01-05    3.329610          NaN   85.152336  37.795563
2000-01-06    3.041471          NaN   83.684181  36.529484
2000-01-07    3.185540          NaN   83.317116  37.006855
2000-01-10    3.129513          NaN   86.620468  37.276661
2000-01-11    2.969436          NaN   87.354546  36.321934
2000-01-12    2.791350          NaN   87.721558  35.138874
2000-01-13    3.097498          NaN   86.803993  35.803043
2000-01-14    3.215554          NaN   87.813332  37.276661
2000-01-18    3.327609          NaN   84.968796  38.293682
2000-01-19    3.411650          NaN   87.721558  35.533215
2000-01-20    3.633756          NaN   87.354546  35.201126
2000-01-21    3.563723          NaN   89.189728  34.453938
2000-01-24    3.401645          NaN   89.189728  33.623737
2000-01-25    3.593738          NaN   87.446281  34.142609
2000-01-26    3.527706          NaN   85.702881  33.001049
2000-01-27    3.521703          NaN   83.317116  32.793507
2000-01-28    3.253573          NaN   81.894882  32.627457
2000-01-31    3.321606          NaN   82.399544  32.502930
2000-02-01    3.209552          NaN   80.747894  34.184120
2000-02-02    3.163529          NaN   83.317116  33.478443
2000-02-03    3.307599          NaN   85.978111  34.412422
2000-02-04    3.457672          NaN   84.877052  35.387936
2000-02-07    3.651766          NaN   83.775932  35.408699
2000-02-08    3.677779          NaN   87.308701  36.508713
2000-02-09    3.605743          NaN   86.252357  34.536964
2000-02-10    3.633756          NaN   87.538330  35.201126
2000-02-11    3.481683          NaN   84.782654  33.187855
...                ...          ...         ...        ...
2017-11-16  171.100006  1032.500000  149.119995  83.199997
2017-11-17  170.149994  1019.090027  148.970001  82.400002
2017-11-20  169.979996  1018.380005  150.509995  82.529999
2017-11-21  173.139999  1034.489990  151.949997  83.720001
2017-11-22  174.960007  1035.959961  151.770004  83.110001
2017-11-24  174.970001  1040.609985  151.839996  83.260002
2017-11-27  174.089996  1054.209961  151.979996  83.870003
2017-11-28  173.070007  1047.410034  152.470001  84.879997
2017-11-29  169.479996  1021.659973  153.550003  83.339996
2017-11-30  171.850006  1021.409973  153.970001  84.169998
2017-12-01  171.050003  1010.169983  154.759995  84.260002
2017-12-04  169.800003   998.679993  156.460007  81.080002
2017-12-05  169.639999  1005.150024  155.350006  81.589996
2017-12-06  169.009995  1018.380005  154.100006  82.779999
2017-12-07  169.320007  1030.930054  153.570007  82.489998
2017-12-08  169.369995  1037.050049  154.809998  84.160004
2017-12-11  172.669998  1041.099976  155.410004  85.230003
2017-12-12  171.699997  1040.479980  156.740005  85.580002
2017-12-13  172.270004  1040.609985  153.910004  85.349998
2017-12-14  172.220001  1049.150024  154.000000  84.690002
2017-12-15  173.970001  1064.189941  152.500000  86.849998
2017-12-18  176.419998  1077.140015  153.330002  86.379997
2017-12-19  174.539993  1070.680054  153.229996  85.830002
2017-12-20  174.350006  1064.949951  152.949997  85.519997
2017-12-21  175.009995  1063.630005  151.500000  85.500000
2017-12-22  175.009995  1060.119995  152.500000  85.510002
2017-12-26  170.570007  1056.739990  152.830002  85.400002
2017-12-27  170.600006  1049.369995  153.130005  85.709999
2017-12-28  171.080002  1048.140015  154.039993  85.720001
2017-12-29  169.229996  1046.400024  153.419998  85.540001

[4529 rows x 4 columns]

### 基于ix的标签索引被推广到了三个维度,因此可以选取指定日期或日期范围内的所有数据

In [9]:
pdata.ix[:,'6/1/2012',:]

            Open        High         Low       Close   Adj Close       Volume
AAPL   81.308571   81.807144   80.074287   80.141426   71.841476  130246900.0
GOOG  284.047546  284.474762  282.338654  283.645172  283.645172    6155600.0
IBM   190.119995  191.720001  188.600006  189.080002  161.216751    5206400.0
MSFT   28.760000   28.959999   28.440001   28.450001   24.545383   56634300.0

In [10]:
pdata.ix['Adj Close','5/22/2012',:]

AAPL     71.326653
GOOG    298.458801
IBM     167.816193
MSFT     25.675592
Name: 2012-05-22 00:00:00, dtype: float64

### 另一个用于呈现面板数据(尤其是对拟合统计模型)的办法是"堆积式的"DF形式

In [11]:
stacked = pdata.ix[:,'5/22/2012':,:].to_frame()
stacked

                         Open         High          Low        Close  \
Date       minor
2012-05-22 AAPL     81.364288    81.982857    78.940002    79.567146
           GOOG    304.737976   304.921783   296.074310   298.458801
           IBM     198.039993   198.259995   196.059998   196.820007
           MSFT     29.690001    29.879999    29.500000    29.760000
2012-05-23 AAPL     79.642860    81.828575    79.032860    81.508568
           GOOG    298.881073   302.830383   296.630707   302.760834
           IBM     195.529999   196.490005   193.199997   196.119995
           MSFT     29.350000    29.400000    28.639999    29.110001
2012-05-24 AAPL     82.267143    82.357140    80.175713    80.760002
           GOOG    302.611816   303.982880   297.500061   299.879578
           IBM     195.990005   196.279999   194.000000   196.089996
           MSFT     29.160000    29.299999    28.760000    29.070000
2012-05-25 AAPL     80.655716    80.835716    79.781425    80.327141
           GOOG    298.558167   298.920807   292.239258   293.853760
           IBM     195.110001   196.000000   194.000000   194.300003
           MSFT     29.200001    29.360001    29.010000    29.059999
2012-05-29 AAPL     81.557144    82.000000    80.758568    81.752853
           GOOG    295.979950   297.629211   292.259125   295.249695
           IBM     195.220001   198.080002   195.220001   196.460007
           MSFT     29.379999    29.719999    29.219999    29.559999
2012-05-30 AAPL     81.314285    82.855713    80.937141    82.738571
           GOOG    292.179657   294.037567   289.879608   292.214417
           IBM     194.800003   195.470001   193.770004   194.529999
           MSFT     29.350000    29.480000    29.120001    29.340000
2012-05-31 AAPL     82.962860    83.071426    81.637146    82.532860
           GOOG    292.457855   293.093719   287.629242   288.553253
           IBM     194.100006   194.929993   192.000000   192.899994
           MSFT     29.299999    29.420000    28.940001    29.190001
2012-06-01 AAPL     81.308571    81.807144    80.074287    80.141426
           GOOG    284.047546   284.474762   282.338654   283.645172
...                       ...          ...          ...          ...
2017-12-19 IBM     154.050003   154.169998   153.089996   153.229996
           MSFT     86.349998    86.349998    85.269997    85.830002
2017-12-20 AAPL    174.869995   175.419998   173.250000   174.350006
           GOOG   1071.780029  1073.380005  1061.520020  1064.949951
           IBM     153.649994   153.889999   152.779999   152.949997
           MSFT     86.199997    86.300003    84.709999    85.519997
2017-12-21 AAPL    174.169998   176.020004   174.100006   175.009995
           GOOG   1064.949951  1069.329956  1061.793945  1063.630005
           IBM     153.169998   153.460007   151.490005   151.500000
           MSFT     86.050003    86.099998    85.400002    85.500000
2017-12-22 AAPL    174.679993   175.419998   174.500000   175.009995
           GOOG   1061.109985  1064.199951  1059.439941  1060.119995
           IBM     151.820007   153.000000   151.500000   152.500000
           MSFT     85.400002    85.629997    84.919998    85.510002
2017-12-26 AAPL    170.800003   171.470001   169.679993   170.570007
           GOOG   1058.069946  1060.119995  1050.199951  1056.739990
           IBM     152.509995   153.860001   152.500000   152.830002
           MSFT     85.309998    85.529999    85.029999    85.400002
2017-12-27 AAPL    170.100006   170.779999   169.710007   170.600006
           GOOG   1057.390015  1058.369995  1048.050049  1049.369995
           IBM     152.949997   153.179993   152.610001   153.130005
           MSFT     85.650002    85.980003    85.220001    85.709999
2017-12-28 AAPL    171.000000   171.850006   170.479996   171.080002
           GOOG   1051.599976  1054.750000  1044.770020  1048.140015
           IBM     153.199997   154.119995   153.199997   154.039993
           MSFT     85.900002    85.930000    85.550003    85.720001
2017-12-29 AAPL    170.520004   170.589996   169.220001   169.229996
           GOOG   1046.719971  1049.699951  1044.900024  1046.400024
           IBM     154.169998   154.720001   153.419998   153.419998
           MSFT     85.629997    86.050003    85.500000    85.540001

                    Adj Close       Volume
Date       minor
2012-05-22 AAPL     71.326653  173717600.0
           GOOG    298.458801    6143400.0
           IBM     167.816193    3567100.0
           MSFT     25.675592   39504900.0
2012-05-23 AAPL     73.067009  146224400.0
           GOOG    302.760834    6397400.0
           IBM     167.219315    4100000.0
           MSFT     25.114807   65171000.0
2012-05-24 AAPL     72.395958  124057500.0
           GOOG    299.879578    3807000.0
           IBM     167.193710    3569300.0
           MSFT     25.080296   52575000.0
2012-05-25 AAPL     72.007942   82126800.0
           GOOG    293.853760    7210200.0
           IBM     165.667526    2901900.0
           MSFT     25.071663   29507200.0
2012-05-29 AAPL     73.286003   95127200.0
           GOOG    295.249695    5245300.0
           IBM     167.509232    3618500.0
           MSFT     25.503044   37758800.0
2012-05-30 AAPL     74.169617  132357400.0
           GOOG    292.214417    3838100.0
           IBM     165.863632    3602500.0
           MSFT     25.313240   41585500.0
2012-05-31 AAPL     73.985207  122918600.0
           GOOG    288.553253    5975200.0
           IBM     164.473785    9287500.0
           MSFT     25.183826   39134000.0
2012-06-01 AAPL     71.841476  130246900.0
           GOOG    283.645172    6155600.0
...                       ...          ...
2017-12-19 IBM     153.229996    4116400.0
           MSFT     85.830002   23524800.0
2017-12-20 AAPL    174.350006   23475600.0
           GOOG   1064.949951    1268600.0
           IBM     152.949997    3785700.0
           MSFT     85.519997   23674900.0
2017-12-21 AAPL    175.009995   20949900.0
           GOOG   1063.630005     995700.0
           IBM     151.500000    4153900.0
           MSFT     85.500000   17990700.0
2017-12-22 AAPL    175.009995   16349400.0
           GOOG   1060.119995     755100.0
           IBM     152.500000    2990600.0
           MSFT     85.510002   14145800.0
2017-12-26 AAPL    170.570007   33185500.0
           GOOG   1056.739990     760600.0
           IBM     152.830002    2479000.0
           MSFT     85.400002    9891200.0
2017-12-27 AAPL    170.600006   21498200.0
           GOOG   1049.369995    1271900.0
           IBM     153.130005    2149300.0
           MSFT     85.709999   14678000.0
2017-12-28 AAPL    171.080002   16480200.0
           GOOG   1048.140015     837100.0
           IBM     154.039993    2687600.0
           MSFT     85.720001   10594300.0
2017-12-29 AAPL    169.229996   25999900.0
           GOOG   1046.400024     887500.0
           IBM     153.419998    3327100.0
           MSFT     85.540001   18717400.0

[5648 rows x 6 columns]

### DF有一个相应的to_panel方法,它是to_frame的逆运算

In [12]:
stacked.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1412 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2012-05-22 00:00:00 to 2017-12-29 00:00:00
Minor_axis axis: AAPL to MSFT